.calculator {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .display {
        text-align: right;
        font-size: 1.5rem;
    }

    .keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
}
