.settings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .setting {
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        background-color: var(--color-bg-highlight);
        border-radius: 0.5rem;

        label {
            font-weight: 600;
        }
    }
}

@media (max-width: 350px) {
    .settings {
        h3,
        .actions {
            margin: 0 auto;
        }

        .setting {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}
