.settings {
    .settingsEntry {
        margin-top: 2rem;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        background-color: var(--color-bg-highlight);
        border-radius: 4px;
    }
}

@media (max-width: 350px) {
    .settingsEntry {
        flex-direction: column;
        justify-content: flex-start;
    }
}
