.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .temperature {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .description {
        color: var(--color-text-muted);
    }

    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.error {
    color: red;
    font-size: 0.9rem;
}
