.header {
    height: var(--navbar-height);
    background-color: var(--color-bg-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: var(--shadow-elevation-2);
}