.header {
    background-color: var(--color-bg-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: var(--shadow-header);
    position: relative;

    .toggle {
        background: none;
        border: none;
        color: var(--color-text);
        display: none;

        svg {
            font-size: 1.5rem;
            transition: color 0.2s;
        }

        &:hover {
            color: var(--color-primary);
        }

        &:active {
            filter: brightness(1.2);
        }
    }
}

@media (max-width: 768px) {
    .header {
        .toggle {
            display: block;
        }

        h4:first-of-type {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
