.sidebar {
    width: 200px;
    background-color: var(--color-bg-dark);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: var(--shadow-elevation-1);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navItem {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
        background-color: var(--color-bg-highlight);
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    
    .show {
        transform: translateX(0);
    }
}