blockquote {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;

    .joke {
        flex: 1;
        overflow-wrap: break-word;

        p:first-child {
            margin-top: 0;
        }

        p {
            margin-top: 0.75rem;
        }
    }
}
